<div class='notification notification-error-type'>
  <button class='delete'></button>

  <div class="notification-error-title">
    <strong>Error:</strong> <span class="notification-error-type">Invalid Headers</span>
  </div>

  <div class="notification-error-content">
  </div>
</div>

<section class="section">
  <div class="container">
    <h1 class="title">File Upload</h1>

    <b><%= @result %></b>
    <br />
    Category: <%= @category %><br />
    Filename: <%= @filename %><br />
    Reference to upload: <%= @reference&.provider_job_id %>
  </div>
</section>
