<section class="section">
  <div class="container">
    <h1 class="title">File Upload</h1>

    <b><%= @result %></b>
    <br />
    Category: <%= @category %><br />
    Filename: <%= @filename %><br />
  </div>
</section>
