<section class="section facilities__form">
  <div class="container facilities__form__container">
    <h1 class="title">New Enclosure</h1>
    <div class="facilities__form__container__body">
      <%= render 'form', enclosure: @enclosure %>
    </div>
    <%= link_to '<< Back', enclosures_path, class: "button-outline-primary" %>
  </div>
</section>
