<section class="section facilities__form">
  <div class="container facilities__form__container">
    <h1 class="title">Edit Tank</h1>
    <div class="facilities__form__container__body">
      <%= render 'form', tank: @tank %>
    </div>
    <%= link_to '<< Back', tanks_path, class: "button-outline-primary" %>
  </div>
</section>
