<section class="section facilities__show">
  <div class="container facilities__show__container">
    <div class="facilities__show__container__header">
      <h1 class="title">Tank</h1>
    </div>
    <div class="facilities__show__container__body mb-5">
      <p>
        <strong>Facility:</strong>
        <%= @tank.facility_name %>
      </p>

      <p>
        <strong>Name:</strong>
        <%= @tank.name %>
      </p>
    </div>

    <%= link_to '<< BACK', tanks_path, class: "mr-3 mb-3 button-outline-primary" %>
    <%= link_to "Edit", edit_tank_path(@tank), class: "button-outline-primary mt-4" %>
  </div>
</section>
