<section class="section facilities__form">
  <div class="container facilities__form__container">
    <h1 class="title">New User</h1>
    <div class="facilities__form__container__body">
      <%= render 'form', user: @user %>
    </div>
    <%= link_to '<< Back', users_path, class: "button-outline-primary" %>
  </div>
</section>
