<section class="h-screen bg-background p-12">
  <div class="container lg:max-w-xl mx-auto bg-white py-6 px-8 rounded-md shadow-sm">
    <div class="flex justify-between items-start mb-4">
      <div>
        <h1 class="text-title3 mb-4">User</h1>
      </div>
    </div>
    <div class="block">
        <div class="text-sm text-caption-light font-medium uppercase">Organization</div>
        <%= @user.organization.name %>
        <div class="text-sm text-caption-light font-medium uppercase mt-2">Email</div>
        <%= @user.email %>
    </div>

    <%= link_to '<< BACK', users_path, class: "mr-3 mb-3 button-outline-primary" %>
    <%= link_to "Edit", edit_user_path(@user), class: "button-outline-primary mt-4" %>
  </div>
</section>
