<section class="section facilities__show">
  <div class="container facilities__show__container">
    <div class="facilities__show__container__header">
      <h1 class="title">User</h1>
    </div>
    <div class="facilities__show__container__body mb-5">
      <p>
        <strong>Organization:</strong>
        <%= @user.organization.name %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>
    </div>
  </div>
</section>
