<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column"></div>
      <div class="column">
        <h1 class="title">Editing Facility</h1>

        <%= render 'form', facility: @facility %>

        <%= link_to 'Show', @facility %> |
        <%= link_to 'Back', facilities_path %>
      </div>
      <div class="column"></div>
    </div>
  </div>
</section>
