<section class="section facilities__form">
  <div class="container facilities__form__container">
    <h1 class="title">Editing Facility</h1>
    <div class="facilities__form__container__body">
      <%= render 'form', facility: @facility %>
    </div>
    <%= link_to '<< Back', facilities_path, class: "button-outline-primary" %>
    <%= link_to 'Show', @facility,  class: "button-outline-primary" %>
  </div>
</section>
