<div class="bottom_content">
    <div class="container flex flex-wrap">
      <div class="bottom_content_container">
        <span class="text-title2 text-center pb-4">Github Repo</span>
        <p class="pb-5">
          If you'd like to contribute, check out our github repo or consider
          donating to the <a href="https://give.ucdavis.edu/BOML/BMLABAL">Endangered
          White Abalone Restoration Fund</a>.
        </p>
       <a href="https://github.com/rubyforgood/abalone" target="_blank" tabindex=18> <button class="button-primary"> Contribute </button> </a>
      </div>
      <div class="bottom_content_container">
        <span class="text-title2 text-center">Links</span>
          <div class="content">
            <ul>
              <li>
                <a href="https://marinescience.ucdavis.edu/research-programs/conservation/saving-white-abalone">
                  UC Davis - Saving White Abalone
                </a>
              </li>
              <li>
                <a href="https://youtu.be/kXGv5pwZ29o">Bodega Marine Lab - Delicacy of
                  the Deep, Saving White Abalone
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/watch?v=B-FiDUIY6aQ&feature=youtu.be">
                  360 Video: UC Davis Working to Save White Abalone
                </a>
              </li>
              <li>
                <a href="https://www.biographic.com/posts/sto/fighting-for-a-foothold">
                  Fighting For a Foothold
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/whiteabalone/">Facebook</a>
              </li>
              <li>
                <a href="https://www.instagram.com/white_abalone/">Instagram</a>
              </li>
              <li>
                <a href="https://twitter.com/whiteabalone">Twitter</a>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div> 