<section class="hero py-50">
    <div class="container hero-container">
        <div class="hero-left">
            <h1 class="font-semibold hero-title pb-5">Abalone Analytics</h1>
            <h3 class="hero-subtitle pb-2">About The Project</h3>
            <p>The Bodega Marine Laboratory's White Abalone captive breeding program is
      working to prevent the extinction of the White Abalone (<a
      href="https://en.wikipedia.org/wiki/Haliotis_sorenseni" style="color: white !important; text-decoration: underline;">Haliotis
      sorenseni</a>), an endangered marine snail.  White abalone are one of
      seven species found in California and are culturally significant to the
      native people of the area.  White abalone were perilously overfished
      throughout the 20th century, resulting in a 99 percent population decrease
      by the end of the 1970s.  This group is working to reverse their decline
      and have already seen some great success, they currently have more abalone
      in the lab than exist in the wild!  Ruby for Good is supporting these
      efforts by developing a data tracking and analytics system for Abalone
      population trends, mortality rates, and breeding programs to help save
      this species from extinction. </p>
        </div>
    </div>
</section>