<section class="hero is-large has-bg-img">
  <div class="hero-body">
    <div class="container">
      <h1 class="sr-only">Abalone Analytics</h1>
    </div>
  </div>
</section>

<% if current_user %>
  <div class="column"></div>
  <section class="column">
    <h2 class="has-text-centered title">
      Your organization: <%= current_organization.name %>
    </h2>
  </section>
  <div class="section has-text-centered">
    <div class="container">
      <div class="columns">
        <div class="column"></div>
        <div class="column is-narrow">
          <div class="card">
            <div class="card-content">
              <p class="subtitle">Total No. of Animals<br />
                <span class="title"><%= @animal_count %></span>
              </p>
            </div>
          </div>
        </div>
        <div class="column"></div>
      </div>
      <div class="columns">
        <div class="column is-one-fifth"></div>
        <div class="column is-one-fifth">
          <div class="card">
            <div class="card-content">
              <p class="subtitle">No. of Facilities<br/>
                <span class="title"><%= @facility_count %></span>
              </p>
            </div>
          </div>
        </div>
        <div class="column is-one-fifth"></div>
        <div class="column is-one-fifth">
          <div class="card">
            <div class="card-content">
              <p class="subtitle">No. of Cohorts<br/>
                <span class="title"><%= @cohort_count %></span>
              </p>
            </div>
          </div>
        </div>
        <div class="column is-one-fifth"></div>
      </div>
    </div>
  </div>
<% end %>
