<section class="hero is-large">
  <div class="hero-body">
    <div class="container">
      <% unless current_user.nil? %>
        <% if "White Abalone" == current_user&.organization&.name %>
          <%= image_tag "white-abalone.png" %>
        <% elsif "Pinto Abalone" == current_user&.organization&.name %>
          <%= image_tag "pinto-abalone.jpg" %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>

<section class="section has-text-centered">
  <div class="container">
    <div class="columns">
      <div class="column"></div>
      <div class="column is-narrow">
        <div class="card">
          <div class="card-content">
            <h2 class="subtitle">Total No. of Animals</h2>
            <h1 class="title">41</h1>
          </div>
        </div>
      </div>
      <div class="column"></div>
    </div>

    <div class="columns">
      <div class="column is-one-fifth"></div>
      <div class="column is-one-fifth">
        <div class="card">
          <div class="card-content">
            <h2 class="subtitle">No. of Facilities</h2>
            <h1 class="title">3</h1>
          </div>
        </div>
      </div>
      <div class="column is-one-fifth"></div>
      <div class="column is-one-fifth">
        <div class="card">
          <div class="card-content">
            <h2 class="subtitle">No. of Spawn Dates</h2>
            <h1 class="title">7</h1>
          </div>
        </div>
      </div>
      <div class="column is-one-fifth"></div>
    </div>
  </div>
</section>
