<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Abalone Analytics
      </h1>
      <h2 class="subtitle">
        A Ruby for Good project
      </h2>
    </div>
  </div>
</section>
