<section class="hero is-large has-bg-img">
  <div class="hero-body">
    <div class="container">
    </div>
  </div>
</section>

<section class="section has-text-centered">
  <div class="container">
    <div class="columns">
      <div class="column"></div>
      <div class="column is-narrow">
        <div class="card">
          <div class="card-content">
            <h2 class="subtitle">Total No. of Animals</h2>
            <% if current_user %>
              <h1 class="title"><%= current_user&.organization&.animals.count %></h1>
            <% else %>
              <h1 class="title">41</h1>
            <% end %>
          </div>
        </div>
      </div>
      <div class="column"></div>
    </div>

    <div class="columns">
      <div class="column is-one-fifth"></div>
      <div class="column is-one-fifth">
        <div class="card">
          <div class="card-content">
            <h2 class="subtitle">No. of Facilities</h2>
            <% if current_user %>
              <h1 class="title"><%= current_user&.organization&.facilities.count %></h1>
            <% else %>
              <h1 class="title">3</h1>
            <% end %>
          </div>
        </div>
      </div>
      <div class="column is-one-fifth"></div>
      <div class="column is-one-fifth">
        <div class="card">
          <div class="card-content">
            <h2 class="subtitle">No. of Spawn Dates</h2>
            <% if current_user %>
              <h1 class="title"><%= current_user&.organization&.cohorts.count %></h1>
            <% else %>
              <h1 class="title">7</h1>
            <% end %>
          </div>
        </div>
      </div>
      <div class="column is-one-fifth"></div>
    </div>
  </div>
</section>
