<section class="section">
  <div class="container">
    <h1 class="text-title2">About the Project</h1>
    <p>
      The Bodega Marine Laboratory's White Abalone captive breeding program is
      working to prevent the extinction of the White Abalone (<a
      href="https://en.wikipedia.org/wiki/Haliotis_sorenseni">Haliotis
      sorenseni</a>), an endangered marine snail.  White abalone are one of
      seven species found in California and are culturally significant to the
      native people of the area.  White abalone were perilously overfished
      throughout the 20th century, resulting in a 99 percent population decrease
      by the end of the 1970s.  This group is working to reverse their decline
      and have already seen some great success, they currently have more abalone
      in the lab than exist in the wild!  Ruby for Good is supporting these
      efforts by developing a data tracking and analytics system for Abalone
      population trends, mortality rates, and breeding programs to help save
      this species from extinction.
    </p>
  </div>
</section>
<section class="section">
  <div class="container content">
    <h2 class="title is-5">Links</h2>
    <ul>
      <li>
        <a href="https://marinescience.ucdavis.edu/research-programs/conservation/saving-white-abalone">
          UC Davis - Saving White Abalone
        </a>
      </li>
      <li>
        <a href="https://youtu.be/kXGv5pwZ29o">Bodega Marine Lab - Delicacy of
          the Deep, Saving White Abalone
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=B-FiDUIY6aQ&feature=youtu.be">
          360 Video: UC Davis Working to Save White Abalone
        </a>
      </li>
      <li>
        <a href="https://www.biographic.com/posts/sto/fighting-for-a-foothold">
          Fighting For a Foothold
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/whiteabalone/">Facebook</a>
      </li>
      <li>
        <a href="https://www.instagram.com/white_abalone/">Instagram</a>
      </li>
      <li>
        <a href="https://twitter.com/whiteabalone">Twitter</a>
      </li>

    </ul>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="title is-5">Contribute</h2>
    <p>
      If you'd like to contribute, check out our <a
      href="https://github.com/rubyforgood/abalone">github repo</a> or consider
      donating to the <a href="https://give.ucdavis.edu/BOML/BMLABAL">Endangered
      White Abalone Restoration Fund</a>.
    </p>
  </div>
</section>
