<section class="section">
  <div class="container">
    <h1 class="title">About the Project</h1>
    <p>
      The White Abalone (<a
      href="https://en.wikipedia.org/wiki/Haliotis_sorenseni">Haliotis
      sorenseni</a>)  is an endangered species of large sea snail native to the
      western United States. In the past century, the White Abalone has been
      driven almost to the point of extinction, losing more than 99.99% of their
      population from overfishing. To save the species, the Bodega Marine
      Laboratory has developed a captive breeding program to bolster their
      numbers. This attempt has been wonderfully successful, to the point where
      BML now has more white abalone than currently exist in the wild! Ruby for
      Good is developing a data tracking and analytics system for Abalone
      population trends, mortality rates, and breeding programs, so BLM can more
      effectively save this species from extinction.
    </p>
  </div>
</section>
<section class="section">
  <div class="container content">
    <h2 class="title is-5">Links</h2>
    <ul>
      <li>
        <a href="https://marinescience.ucdavis.edu/research-programs/conservation/saving-white-abalone">
          UC Davis - Saving White Abalone
        </a>
      </li>
      <li>
        <a href="https://youtu.be/kXGv5pwZ29o">Bodega Marine Lab - Delicacy of
          the Deep, Saving White Abalone
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=B-FiDUIY6aQ&feature=youtu.be">
          360 lab video
        </a>
      </li>
      <li>
        <a href="https://www.biographic.com/posts/sto/fighting-for-a-foothold">
          Fighting For a Foothold
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/whiteabalone/">Facebook</a>
      </li>
      <li>
        <a href="https://www.instagram.com/white_abalone/">Instagram</a>
      </li>
      <li>
        <a href="https://twitter.com/whiteabalone">Twitter</a>
      </li>

    </ul>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="title is-5">Contribute</h2>
    <p>
      If you'd like to contribute, check out our <a
      href="https://github.com/rubyforgood/abalone">github repo</a> or consider
      donating to the <a href="https://give.ucdavis.edu/BOML/BMLABAL">Endangered
      White Abalone Restoration Fund</a>.
    </p>
  </div>
</section>
