<section class="section">
  <div class="container">
    <h1 class="title">About the Project</h1>
    <p>
      The White Abalone (Haliotis sorenseni) <a
      href="https://en.wikipedia.org/wiki/Haliotis_sorenseni"></a>  is an
      endangered species of large sea snail native to the western United States.
      In the past century, the White Abalone has been driven almost to the point
      of extinction, losing more than 99.99% of their population from
      overfishing. To save the species, the Bodega Marine Laboratory has
      developed a captive breeding program to bolster their number. This attempt
      has been wonderfully successful, to the point where BML now has more white
      abalone than currently exist in the wild! Ruby for Good is developing a
      data tracking and analytics system for Abalone population trends,
      mortality rates, and breeding programs, so BLM can more effectively save
      this species from extinction.
    </p>
  </div>
</section>
