<section class="h-screen bg-background p-12">
  <div class="container lg:max-w-xl mx-auto bg-white py-6 px-8 rounded-md shadow-sm">
    <%= link_to animals_path do %>
      <button class="text-primary-dark hover:text-primary font-bold py-2 rounded inline-flex items-center mb-4">
        <span><< Cancel</span>
      </button>
    <% end %>
    <h1 class="text-title3 mb-4">Editing Animal</h1>
    <div class="block relative">
      <%= render 'form', animal: @animal %>
    </div>
  </div>
</section>
