<section class="section facilities__form">
  <div class="container facilities__form__container">
    <h1 class="text-title3 mb-4">New Measurements</h1>
    <div class="facilities__form__container__body">
      <div class="field">
        <%= label_tag(:data_import_type, 'Select measurement', class: 'sr-only') %>
        <%= select_tag(:data_import_type, options_for_select([
             ['I am taking measurements of animals', :animal_count_measurements_template],
             ['I want to measure length and gonad score', :length_gonad_score_template]
        ])) %>
      </div>

      <%= link_to 'Generate Template', '#', class: 'button-primary', id: 'data-import-template-download' %>
    </div>
  </div>
</section>

<%= javascript_pack_tag 'measurements', 'data-turbolinks-track': 'reload' %> %>
