/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#file-name {
  display: none;
}
.container_with_scroll{
  overflow-x: scroll;
}
.column.is-thinner{
  padding: .15rem .75rem;
}