.has-bg-img {
  background-image: url("../assets/abalone-hero.png"), linear-gradient(45deg, rgba(0, 158, 108, 0.8) 0%, rgba(0, 209, 178, 0.8) 100%);
  background-repeat: no-repeat;
  background-position: center center;
}
