.has-bg-img {
  background-image: url("/images/abalone-hero.png"), linear-gradient(45deg, rgba(109, 67, 202, 0.8) 0%, rgba(227, 230, 251, 0.8) 100%);
  background-repeat: no-repeat;
  background-position: center center;
}
