<section class="section">
  <div class="container">
    <h1 class="title">Reports</h1>

    <div class="tabs is-centered is-boxed">
      <ul>
        <li class="is-active"><a>Spawning</a></li>
        <li><a>Production</a></li>
        <li><a>Mortality</a></li>
        <li><a>Growth</a></li>
      </ul>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div id="chart" style="width:100%; height:400px;"></div>
  </div>
</section>
