<section class="section">
  <div class="container">
    <h1 class="title">Reports</h1>

    <div class="tabs is-centered is-boxed">
     <ul>
        <li id="spawning-chart" class="is-active"><a>Spawning</a></li>
        <li id="production-chart"><a>Production</a></li>
        <li id="mortality-chart"><a>Mortality</a></li>
        <li id="growth-chart"><a>Growth</a></li>
      </ul>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div id="chart" style="width:100%; height:400px;"></div>
  </div>
</section>
