<section class="h-screen bg-background p-12">
  <div class="container mx-auto bg-white py-6 px-8 rounded-md shadow-sm">
  <h1 class="text-4xl">Operations</h1>
    <table class="table-auto w-full border">
      <thead>
        <tr class="border">
          <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase">Enclosure</th>
          <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase">Cohort</th>
          <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase">Action</th>
          <th class="text-sm text-caption-light font-medium px-4 py-2 uppercase">CSV Data Uploaded At</th>
        </tr>
      </thead>
      <tbody>
        <% @operations.each do |operation| %>
          <tr>
            <td class="px-4 py-2"><%= operation.enclosure.name %> </td>
            <td class="px-4 py-2"><%= operation.cohort&.name %> </td>
            <td class="px-4 py-2"><%= operation.action %></td>
            <td class="px-4 py-2"><%= operation.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>