<section class="section operations__index">
  <div class="section operations__index__container">
    <table class="table table-hover">
    <thead>
      <tr>
      <th>Enclosure</th>
      <th>Cohort</th>
      <th>Action</th>
      <th>CSV Data Uploaded At</th>
      </tr>
    </thead>
    <tbody>
    <%- @operations.each do |operation|%>
      <tr>
        <td><%= operation.enclosure.name %> </td>
        <td><%= operation.cohort&.name %> </td>
        <td><%= operation.action %></td>
        <td><%= operation.created_at %></td>
      </tr>
    <% end %>
    </tbody>
    </table>
  </div>
</section>